

/* edit panel menu */
.edit_pane_Menu {
	position: absolute;
	right: 5px;
	top: -5px;
}



.edit_pane_Menu .delete {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 10px;
	height: 10px;
}

.edit_pane_Menu .edit {
	position: absolute;
	right: 12px;
	top: 0px;
	width: 10px;
	height: 10px;
}

.edit_pane_Menu .move {
	position: absolute;
	right: 24px;
	top: 0px;
	width: 10px;
	height: 10px;
	cursor: Move;
}

/* edit panel sloupec */
.edit_pane_PageSloupec {
	position: absolute;
	right: 0px;
	top: 15px;
}

.edit_pane_PageSloupec .delete {
	position: absolute;
	right: 5px;
	top: 0px;
	width: 10px;
	height: 10px;
}

.edit_pane_PageSloupec .move {
	position: absolute;
	right: 35px;
	top: 0px;
	width: 10px;
	height: 10px;
	cursor: Move;
}

.edit_pane_PageSloupec .edit {
	position: absolute;
	right: 20px;
	top: 0px;
	width: 10px;
	height: 10px;
}

/* edit panel HTML */
.edit_pane_Html {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
}


.edit_pane_Html a {
}



.edit_pane_Html .delete {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 13px;
	height: 13px;
}

.edit_pane_Html .edit {
	position: absolute;
	right: 16px;
	top: 0px;
	width: 14px;
	height: 14px;
}

.edit_pane_Html .edit_style {
	position: absolute;
	right: 34px;
	top: 0px;
	width: 14px;
	height: 14px;
}

.edit_pane_Html .move {
	position: absolute;
	right: 54px;
	top: 3px;
	width: 10px;
	height: 10px;
}

/* edit panel Top Title */
.edit_pane_Top_title {
	position: absolute;
	left: 10px;
	top: 10px;
}

.edit_pane_Top_title .edit {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 14px;
	height: 14px;
        z-index: 41;
}


/* edit panel Patka */
.edit_pane_Patka {
	position: absolute;
	left: 10px;
	top: 10px;
}

.edit_pane_Patka .edit {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 14px;
	height: 14px;
}

/* edit panel menu_in */
.edit_pane_Menu_in {
	position: absolute;
	right: -20px;
	top: 1px;
}

.edit_pane_Menu_in .delete {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 10px;
	height: 10px;
}

.edit_pane_Menu_in .edit {
	position: absolute;
	right: 12px;
	top: 0px;
	width: 10px;
	height: 10px;
}

.edit_pane_Menu_in .move {
	position: absolute;
	right: 24px;
	top: 0px;
	width: 10px;
	height: 10px;
	cursor: Move;
}

/* edit panel plan akci */
.edit_pane_Plan_akci {
	position: absolute;
	right: 0px;
	top: 0px;
}

.edit_pane_Plan_akci .users {
  height:16px;
  position:absolute;
  right:39px;
  top:0;
  width:16px;
}



/* edit panel menu head */
.edit_pane_MenuHead {
	position: absolute;
	right: 25px;
	top: 15px;
}



.edit_pane_MenuHead .delete {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 10px;
	height: 10px;
}

.edit_pane_MenuHead .edit {
	position: absolute;
	right: 12px;
	top: 0px;
	width: 10px;
	height: 10px;
}

.edit_pane_MenuHead .move {
	position: absolute;
	right: 24px;
	top: 0px;
	width: 10px;
	height: 10px;
	cursor: Move;
}


/* edit panel Titulek */
.edit_pane_Titulek {
	position: relative;
	top: 1px;
        float: right;
}


.edit_pane_Titulek .edit {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 10px;
	height: 10px;
}

.edit_pane_Seting {
	position: relative;
	top: 1px;
        float: right;
}
.edit_pane_Seting .edit {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 10px;
	height: 10px;
}
.edit_pane_Seting .checkbox {
	position: absolute;
	right: 12px;
	top: 0px;
	width: 10px;
	height: 10px;
}

/* edit panel shop_menu */
.edit_pane_Shop_menu {
	position: absolute;
	right: 1px;
	top: 1px;
        z-index: 20;
}

.edit_pane_Shop_menu .delete {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 10px;
	height: 10px;
}

.edit_pane_Shop_menu .edit {
	position: absolute;
	right: 12px;
	top: 0px;
	width: 10px;
	height: 10px;
}

.edit_pane_Shop_menu .move {
	position: absolute;
	right: 6px;
	top: 0px;
	width: 10px;
	height: 10px;
}

/* edit panel shop_produkt */
.edit_pane_Shop_produkt {
	position: absolute;
	right: 1px;
	top: 1px;
}

.edit_pane_Shop_produkt .delete {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 10px;
	height: 10px;
        z-index: 10;
}


.edit_pane_Shop_produkt .move {
	position: absolute;
	right: 22px;
	top: 10px;
	width: 10px;
	height: 10px;
        z-index: 10;
}

.edit_pane_Shop_produkt .checkbox {
	position: absolute;
	right: 34px;
	top: 10px;
	width: 10px;
	height: 10px;
        z-index: 10;
}

.edit_pane_Shop_produkt_popis .edit {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 15px;
	height: 15px;
}

.edit_pane_Shop_produkt_nazev .edit {
	position: absolute;
	right: 10px;
	top: 0px;
	width: 15px;
	height: 15px;
}


.edit_pane_Shop_produkt_cena .edit {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 15px;
	height: 15px;
}

.edit_pane_Shop_produkt_skladem .edit {
	position: absolute;
	right: 10px;
	top: 1px;
	width: 15px;
	height: 15px;
}

.edit_pane_Shop_produkt_vyrobce .edit {
	position: absolute;
	right: 10px;
	top: 1px;
	width: 15px;
	height: 15px;
}

.edit_pane_Shop_produkt_code .edit {
	position: absolute;
	right: 10px;
	top: 1px;
	width: 15px;
	height: 15px;
}

.edit_pane_Shop_image .radio_select {
	position: absolute;
	left: 12px;
	top: 1px;
	width: 10px;
	height: 10px;
}

.edit_pane_Shop_image .delete {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 10px;
	height: 10px;
}



/* Galerie */

.edit_pane_Galerie {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 10;
}

.edit_pane_Galerie .delete {
	position: absolute;
	right: 2px;
	top: 2px;
	height: 10px;
	width: 10px;
}


.edit_pane_Galerie .move {
	position: absolute;
	right: 14px;
	top: 2px;
	height: 10px;
	width: 10px;
	cursor: Move;
}

.edit_pane_Galerie .checkbox {
	position: absolute;
	right: 26px;
	top: 2px;
	height: 10px;
	width: 10px;
}

.edit_pane_GalerieHtml {
	position: absolute;
	top: 0px;
	right: 20px;
}
.edit_pane_GalerieHtml .edit {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 16px;
	height: 16px;
}
.edit_pane_GalerieHtml .edit_style {
	position: absolute;
	top: 2px;
	right: 20px;
	width: 16px;
	height: 16px;
}







/*  Html Style */
.edit_pane_HtmlStyle {
	position: absolute;
	top: -3px;
	right: -5px;
}

.edit_pane_HtmlStyle .edit {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 0px;
	right: 15px;
}

.edit_pane_HtmlStyle .delete {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 0px;
	right: 2px;
}




/* edit panel shop_menu */
.edit_pane_Shop_menu {
	position: absolute;
	right: 1px;
	top: 1px;
}

.edit_pane_Shop_menu .delete {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 10px;
	height: 10px;
}

.edit_pane_Shop_menu .edit {
	position: absolute;
	right: 12px;
	top: 0px;
	width: 10px;
	height: 10px;
}

/* edit panel shop_produkt */
.edit_pane_Shop_produkt {
	position: absolute;
	right: 1px;
	top: 1px;
}


.edit_pane_Shop_produkt_popis .edit {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 15px;
	height: 15px;
}

.edit_pane_Shop_produkt_nazev .edit {
	position: absolute;
	right: 10px;
	top: 0px;
	width: 15px;
	height: 15px;
}


.edit_pane_Shop_produkt_cena .edit {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 15px;
	height: 15px;
}

.edit_pane_Shop_produkt_skladem .edit {
	position: absolute;
	right: 10px;
	top: 1px;
	width: 15px;
	height: 15px;
}

.edit_pane_Shop_produkt_vyrobce .edit {
	position: absolute;
	right: 10px;
	top: 1px;
	width: 15px;
	height: 15px;
}

.edit_pane_Shop_produkt_code .edit {
	position: absolute;
	right: 10px;
	top: 1px;
	width: 15px;
	height: 15px;
}

.edit_pane_Shop_image .radio_select {
	position: absolute;
	left: 12px;
	top: 1px;
	width: 10px;
	height: 10px;
}

.edit_pane_Shop_image .delete {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 10px;
	height: 10px;
}






/* edit panel sloupec */
.edit_pane_StaticSloupec {
	position: absolute;
	right: 0px;
	top: 15px;
}

.edit_pane_StaticSloupec .delete {
	position: absolute;
	right: 5px;
	top: 0px;
	width: 10px;
	height: 10px;
}

.edit_pane_StaticSloupec .move {
	position: absolute;
	right: 35px;
	top: 0px;
	width: 10px;
	height: 10px;
	cursor: Move;
}

.edit_pane_StaticSloupec .edit {
	position: absolute;
	right: 20px;
	top: 0px;
	width: 10px;
	height: 10px;
}

/* Výsledky Souteže */
.edit_pane_Soutez {
    position: absolute;
    right: 10px;
    top: 5px;
}

.edit_pane_Soutez .edit {
    position: absolute;
    right: 20px;
    height: 10px;
    width: 10px;
}

.edit_pane_Soutez .delete {
    position: absolute;
    right: 5px;
    height: 10px;
    width: 10px;
}

.edit_pane_Utkani {
    position: absolute;
    top: 4px;
    left: 5px;
}

.edit_pane_Utkani .edit {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
}

.edit_pane_Utkani .delete {
    position: absolute;
    top: 0px;
    left: 13px;
    width: 10px;
    height: 10px;
}

.edit_pane_Utkani .checkbox {
    position: absolute;
    top: 0px;
    left: 26px;
    width: 10px;
    height: 10px;
}



.edit_pane_Kolo {
    position: absolute;
    top: -12px;
    left: 0px;
}

.edit_pane_Kolo .edit {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
}

.edit_pane_Kolo .delete {
    position: absolute;
    top: 0px;
    left: 13px;
    width: 10px;
    height: 10px;
}