



/* Kalendář */

table.kalendar {
	font-weight: bold;
	font-size: 11px;
}

table.kalendar a {
	text-decoration: none;
}

table.kalendar .active {
	font-weight: normal;
	font-size: 11px;
}

table.kalendar .unactive {
	color: gray;
	font-weight: normal;
	font-size: 11px;
}
