
/* page in */

#page_in {
	position: relative;
	left: 0px;
	top: 0px;
	width: 1000px;
	overflow: hidden;
}

#page_in .add {
	position: absolute;
	right: -40px;
	top: 25px;
	width: 73px;
	height: 51px;
	z-index: 10;
}

.edit_pole {
	position: relative;
	background-color: #d8d2ba;
        background-image: url('../../../frogSys/images/rs/edit_sloup.png');
	height: 36px;
	overflow: hidden;
}

.edit_pole p {
  padding-left:10px;
  padding-top:11px;
}


.add_page {
	width: 147px;
	height: 28px;
}

.change_page {
	position: absolute;
	right: 72px;
	top: 14px;
	width: 16px;
	
}

.slide-show {
    float: left;
    
}

.slide-show ul li {
  background:none;
  padding:0;
  
}

.slide-show img {
border:5px solid white;
}


table.gallery {
  width:80%;
}

table.gallery img {
border:4px solid #f1e3dd;
margin:5px;
}

table.gallery a:hover img {
border:4px solid #fff;
}




#addSloupecPod {
    clear: left;
}

.addSloupec {
    position: absolute;
    right: 94px;
    top: 15px;
    height: 10px;
}

.moveSloupecUp {
    position: absolute;
    right: 54px;
    top: 14px;
    width: 10px;
}

.moveSloupecDown {
    position: absolute;
    right: 54px;
    top: 23px;
    width: 10px;
}

.content_radek {
    position: relative;
    overflow: hidden;
    clear: left;
}

.page_typy {
	
}


.content_static {
    position: absolute;
    z-index: 49;
}

.content_in_class {
    position: relative;
    min-height: 25px
}