/* 
    Document   : zakladni.css
    Created on : 9.2.2011, 18:05:24
    Author     : Misak113
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#zakladni_prehled th {
    background-color: #D3D3D3;
    width: 200px;
    padding: 5px;
}

#zakladni_prehled td {
    padding: 5px 15px 5px 30px;
    font-size: 14px;
}


.spravce_souboru {
    width: 100%;

}
.spravce_souboru td {
    padding: 3px 5px;
}