/* CSS Document */

img.galerie {
	width: 150px;
	height: 100px;
	margin: 5px;
	border: 2px solid black;
}

img.galerie:hover {
	border: 2px solid grey;
}

div.galerie {
	position: relative;
	float: left;
}

.galerie .popisek {
	position: absolute;
	width: 150px;
	bottom: 0px;
	left: 0px;
}

.galerie_image_div_ {
	width: 150px;
	height: 100px;	
}