
#menu_item_449 {
    background: url('../images/design/o-me.png') no-repeat scroll transparent center bottom;
    height: 100px;
}

#menu_item_450 {
    background: url('../images/design/kontakt.png') no-repeat scroll transparent center bottom;
    height: 100px;
}

#menu_item_451 {
    background: url('../images/design/zivotopis.png') no-repeat scroll transparent center bottom;
    height: 100px;
}

#menu_item_452 {
    background: url('../images/design/sluzby.png') no-repeat scroll transparent center bottom;
    height: 100px;
}

#menu_item_453 {
    background: url('../images/design/odkazy.png') no-repeat scroll transparent center bottom;
    height: 100px;
}