
ErrorDocument 404 "/index.php?page=404"

RewriteEngine on

####### Redirect na verzi domény s www #######
Options +FollowSymlinks
#RewriteCond %{HTTP_HOST} ^zabka.avantcore.cz
#RewriteRule (.*) http://zabka.avantcore.cz/$1 [R=301,QSA,L]

RewriteCond %{REQUEST_URI} ^/(.*)/
RewriteRule ^(.*)/$ /index.php?page=$1 [NC,L,QSA]

RewriteCond %{REQUEST_URI} ^/admin
RewriteRule ^admin$ /bin/admin.php? [NC,L,QSA]

php_flag display_errors On

