

.edit_table {
	width: 90%;
	text-align: center;
}

.edit_table td {
  vertical-align: top;
  text-align: left;
  color: gray;
}



.table_input {
	width: 100%;
}


.table_uziv_sez {
  width:760px;
}

.table_uziv_sez td {
  text-align:left;
  padding:5px 0 5px 10px;
  border-bottom:1px solid #ecf1f4;
  border-right:1px solid white;
  font-weight:normal;
  vertical-align:top;
}

.table_uziv_sez td tr td {
  padding:0;
}


.table_uziv_sez th {
  background:#ecf1f4;
  padding:7px 10px;
  text-align:left;
    border-right:1px solid white;
}

.delete {
  width:14px;
  height:14px;
}





.send_mail textarea {
	width: 500px;
	height: 200px;
}






/* tabulka posílání (kontakt) */
.kontakt_table {
	width: 500px;

}

.kontakt_table input {
    width: 400px;
    margin: 5px;
    padding: 2px 10px 2px 5px;
}

.kontakt_table textarea {
width: 400px;
margin: 5px;
height: 100px;
padding: 2px 10px 2px 5px;
}

.kontakt_table .odeslat {
    width: 150px;
    height: 20px;
    margin: 5px;
}