
.prispevek {
    position: relative;
    width: 100%;
    margin: 10px 10px 20px 10px;
}

.prispevek h2.user {
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
}

.prispevek .datum {
    font-family: Courier new;
    font-size: 11px;
    color: #D3D3D3;
    margin: 1px 1px 1px 2px;
}

.prispevek .text {
    position: relative;
    font-size: 13px;
    color: #888888;
    margin: 5px;
    line-height: 20px;
    text-indent: 30px;
}

.edit_pane_Diskuse {
    position: absolute;
    top: 1px;
    right: 20px;
}

.edit_pane_Diskuse .delete {
    position: absolute;
    right: 5px;
}

.diskuse_text {
    width: 99%;
    height: 100px;
}

.diskuse_ip {
    font-size: 10px;
    font-style: italic;
    color: #666666;
    font-weight: normal;
}