<<<<<<< HEAD

.vysledky_tabulka th a {
    text-decoration: none;
}

.filter div {
    float: left;
    margin: 3px 5px 3px 15px;
}

.filter select {
    width: 125px;
}
=======
/* 
    Document   : VSTA
    Created on : 16.4.2011, 20:19:44
    Author     : Misak113
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

>>>>>>> a206266de26ca4d13d6c2fc157715fc98aa0e227
