

.vysledky_tabulka {
    width: 540px;
}

.vysledky_tabulka th {
    text-align: center;
    background-color: #cccccc;
}

.vysledky_tabulka td {
    padding: 2px 4px;
    background-color: #dddddd;
    border: 3px solid transparent;
    text-align: center;

}

.vysledky_tabulka .body {
    font-weight: bold;
}

.vysledky_tabulka .nazev {
    text-align: left;
    font-weight: bold;
}

.vysledky_tabulka .web {
    font-style: italic;
}

.vysledky_kola {
    margin: 10px 15px;
    font-size: 13px;
}


.vysledky_tabulka .web_pages {
    font-style: italic;
    width: 40px;
}